<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">ePict Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Background URL</label>
			<span>
				<input type="text" class="input-small gf-form-input" placeholder="URL" ng-model="ctrl.panel.bgURL" ng-change="ctrl.render()" ng-model-onblur />
			</span>
		</div>
	</div>
	<div class="section gf-form-group">
		<h5 class="section-heading">Boxes definitions</h5>
		<div ng-repeat="box in ctrl.panel.boxes track by $index">
			<div class="section gf-form-group">
				<span class="btn btn-danger gf-form-button" ng-click="ctrl.deleteBox($index);ctrl.render()" type="button">
					<i class="fa fa-trash" ></i>
				</span>
				<span class="btn btn-secondary gf-form-button" ng-click="ctrl.cloneBox($index);ctrl.render()" type="button">
					<i class="fa fa-copy" ></i>
				</span>
			</div>
			<div class="section gf-form-group">
				<h5 class="section-heading">Metric</h5>
				<div class="gf-form">				
					<label class="gf-form-label width-4">Name</label>
					<input type="text" class="input-small gf-form-input width-19" ng-model="box.serie" ng-change="ctrl.refresh()" ng-model-onblur />
				</div>
				<div class="gf-form-inline">
					<div class="gf-form">
						<label class="gf-form-label width-4">Prefix</label>
						<input type="text" class="input-small gf-form-input width-7" ng-trim="false" ng-model="box.prefix" ng-change="ctrl.refresh()" />
						<label ng-if="box.prefix" class="gf-form-label width-7">Font-size</label>
						<input ng-if="box.prefix" type="text" class="input-small gf-form-input width-5" ng-model="box.prefixSize" ng-change="ctrl.refresh()" ng-model-onblur />
						
					</div>
					<!--<div class="gf-form">
						<label class="gf-form-label width-4">Size</label>
						<input type="text" class="input-small gf-form-input width-3"/>
					</div>-->
				</div>
				<div class="gf-form-inline">
					<div class="gf-form">				
						<label class="gf-form-label width-4">Suffix</label>
						<input type="text" class="input-small gf-form-input width-7" ng-trim="false" ng-model="box.suffix" ng-change="ctrl.render()"/>
						<label ng-if="box.suffix" class="gf-form-label width-7">Font-size</label>
						<input ng-if="box.suffix" type="text" class="input-small gf-form-input width-5" ng-model="box.suffixSize" ng-change="ctrl.render()" ng-model-onblur />
					</div>
				</div>
			</div>
			<div class="section gf-form-inline">
				<h5 class="section-heading">Position</h5>
				<div class="gf-form-inline">
					<div class="gf-form">				
						<label class="gf-form-label width-5">X
							<info-popover mode="right-normal">
								<p>
									You can easily find the coordinates by closing the Edit pane
									and <code>ctrl</code>+<code>left click</code>
									anywhere on your image
								</p>
							</info-popover>
						</label>
						<input type="text" class="gf-form-input width-5" ng-model="box.xpos" ng-change="ctrl.render()" />
					</div>
					<div class="gf-form">				
						<label class="gf-form-label width-2">Y</label>
						<input type="text" class="gf-form-input width-5" ng-model="box.ypos" ng-change="ctrl.render()" />
					</div>
				</div>
				<h5 class="section-heading">Link</h5>
				<div class="gf-form">
					<label class="gf-form-label width-5">URL</label>
					<input type="text" class="gf-form-input width-15"ng-model="box.URL" ng-change="ctrl.render()"/>
				</div>
			</div>
			<div class="section gf-form-inline">
				<h5 class="section-heading">Appearance</h5>
				<div class="gf-form-inline">
					<div class="gf-form">				
						<label class="gf-form-label width-8">Decimal</label>
						<input type="text" class="input-small gf-form-input width-4" ng-model="box.decimal" ng-change="ctrl.render()" ng-model-onblur />
					</div>
					<div class="gf-form">				
						<label class="gf-form-label width-8">Font-size</label>
						<input type="text" class="input-small gf-form-input width-8" ng-model="box.fontsize" ng-change="ctrl.render()" ng-model-onblur />
					</div>
				</div>
				<div class="gf-form-inline">
					<gf-form-switch class="gf-form" label-class="width-8" label="Display orb" checked="box.hasOrb" on-change="ctrl.render()"></gf-form-switch>
					<div ng-if="box.hasOrb">
						<div class="gf-form">
							<label class="gf-form-label width-8">Orb Size</label>
							<input type="text" class="input-small gf-form-input width-8" ng-model="box.orbSize" ng-change="ctrl.render()" ng-model-onblur />
						</div>
					</div>
				</div>
				<div class="gf-form-inline" ng-if="box.hasOrb">
					<div class="gf-form-inline">
						<gf-form-switch class="gf-form" label-class="width-8" label="Hide text" checked="box.orbHideText" on-change="ctrl.render()"></gf-form-switch>
						<div ng-if="!box.orbHideText">
							<div class="gf-form">
								<label class="gf-form-label width-8">Orb Location</label>
								<div class="gf-form-select-wrapper width-8">
									<select class="input-small gf-form-input" ng-model="box.orbLocation" ng-options="t for t in ['Left', 'Right', 'Top', 'Bottom']" ng-change="ctrl.render()"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gf-form-inline">
					<gf-form-switch class="gf-form" label-class="width-8" label="Use thresholds" checked="box.usingThresholds" on-change="ctrl.render()"></gf-form-switch>
					<div ng-if="!box.usingThresholds">
						<div class="gf-form">
							<label class="gf-form-label width-4">Color</label>
							<span class="max-width-5">
								<spectrum-picker class="gf-form-input" ng-model="box.color" ng-change="ctrl.render()" ></spectrum-picker>
							</span>
						</div>
					</div>
					<div ng-if="box.usingThresholds">
						<div class="gf-form">
							<label class="gf-form-label width-8">Thresholds
								<info-popover mode="right-normal">
									<p>Enter 2 comma-separated numbers. 20,60 will produce: <code>value &lt;= 20</code> -&gt; green <br />
									 	<code>value between 20 and 60</code> -&gt; yellow <br />
										<code>value &gt;= 60</code> -&gt; red </p>
								</info-popover>
							</label>
							<span class="max-width-8">
								<input type="text" class="input-small gf-form-input width-8" ng-model="box.thresholds" placeholder="20,60" ng-change="ctrl.render()" ng-model-onblur/>
							</span>
						</div>
					</div>
				</div>
				<div class="gf-form" ng-if="box.usingThresholds">
					<label class="gf-form-label width-12">Colors</label>
					<span class="max-width-3">
						<spectrum-picker class="gf-form-input" ng-model="box.colorLow" ng-change="ctrl.render()" ></spectrum-picker>
					</span>
					<span class="max-width-3">
						<spectrum-picker class="gf-form-input" ng-model="box.colorMedium" ng-change="ctrl.render()" ></spectrum-picker>
					</span>
					<span class="max-width-3">
						<spectrum-picker class="gf-form-input" ng-model="box.colorHigh" ng-change="ctrl.render()" ></spectrum-picker>
					</span>
				</div>
				<div class="gf-form" ng-if="box.usingThresholds">
					<gf-form-switch class="gf-form" label-class="width-7" label="Blink if low" checked="box.blinkLow" ng-model="box.blinkLow" on-change="ctrl.render()"></gf-form-switch>
					<gf-form-switch class="gf-form" label-class="width-7" label="Blink if high" checked="box.blinkHigh" ng-model="box.blinkHigh" on-change="ctrl.render()"></gf-form-switch>
				</div>
			</div>
		</div>
		<div class="editor-row">
			<div class="gf-form-button">
				<button class="btn btn-inverse" ng-click="ctrl.addBox();ctrl.render()">
				<i class="fa fa-plus"></i>&nbsp;Add a box
				</button>
			</div>
		</div>
	</div>
</div>
