<style type="text/css">
  .blink {
    animation: blink_anim 0.8s linear infinite;
  }
  a,a:hover{
    color:unset;
  }
  .hasLink{
    cursor: pointer;
  }
  .noLink {
    cursor: default;
  }
  .orbDefaults {
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    border-color: #000;
    display: inline-block;
    font-size: 0px;

  }
  .alignHorizontally {
    display: inline-block;
    text-align: center;
  }
  .alignVertically {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
  }
  .boxsuffix,
  .boxprefix {
    white-space:pre;
  }
  .boxprefix {
    margin-right:0.5ch;
  }
  @keyframes blink_anim {
    50% {
      opacity: 0.2;
    }
  }
</style>
<div class="epict-panel" style="display:flex;justify-content:center">
  <div id="img-wrapper" style="position:relative;">
    <img src={{ctrl.processedBgURL}} ng-click="ctrl.clicktest($event)"/>
    <span ng-repeat="box in ctrl.panel.boxes track by $index" style="position:absolute;top:{{box.ypos}}px;left:{{box.xpos}}px;color:{{box.color}};font-size:0px;">
      <a ng-href="{{box.processedURL}}" ng-class="box.processedURL?'hasLink':'noLink'" class="alignHorizontally">
        <div ng-if="box.hasOrb && box.orbHideText">
          <span ng-class="box.isBlinking?'blink':''" class="orbDefaults" style="height:{{box.orbSize}}px;width:{{box.orbSize}}px;background-color:{{box.color}};"></span>
        </div>
        <div ng-if="box.hasOrb && !box.orbHideText && box.orbLocation==='Top'">
          <span ng-class="box.isBlinking?'blink':''" class="orbDefaults" style="height:{{box.orbSize}}px;width:{{box.orbSize}}px;background-color:{{box.color}};"></span>
        </div>
        <div ng-if="!box.hasOrb || !box.orbHideText" style="font-size:{{box.fontsize}}px;line-height:normal;">
          <span ng-if="box.hasOrb && box.orbLocation === 'Left'" ng-class="box.isBlinking?'blink':''" class="orbDefaults alignVertically" style="height:{{box.orbSize}}px;width:{{box.orbSize}}px;background-color:{{box.color}};"></span>
          <span ng-if="box.prefix" class="boxprefix alignVertically" style="font-size:{{box.prefixSize}}px;">{{box.prefix}}</span>
          <span ng-class="box.isBlinking?'blink':''" class="alignVertically">{{ctrl.boxesTexts[$index]}}</span>
          <span ng-if="box.suffix" ng-class="box.isBlinking?'blink':''" class="alignVertically boxsuffix" style="font-size:{{box.suffixSize}}px">{{box.suffix}}</span>
          <span ng-if="box.hasOrb && box.orbLocation === 'Right'" ng-class="box.isBlinking?'blink':''" class="orbDefaults alignVertically" style="height:{{box.orbSize}}px;width:{{box.orbSize}}px;background-color:{{box.color}};"></span>
        </div>
        <div ng-if="box.hasOrb && !box.orbHideText && box.orbLocation==='Bottom'">
            <span ng-class="box.isBlinking?'blink':''" class="orbDefaults" style="height:{{box.orbSize}}px;width:{{box.orbSize}}px;background-color:{{box.color}};"></span>
        </div>
      </a>
    </span>
  </div>
</div>
